.btn {
    background: $btn_bg_color;
    border: 1px solid $btn_bg_color;
    text-transform: uppercase;
    min-width: $btn_min_width;
    padding: $btn_padding;
    border-radius: $border-radius;
    margin-right: 6px;
    font-size: $btn_font_size;
    transition: $btn_transition;
}
.btn:last-child {
    margin-right: 0;
}
.btn:hover {
    background: $btn_bg_color_hover;
}