@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');

$primary-color: #212121;
$secondary-color: #f4f4f4;

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: $primary-color;
    color: $secondary-color;
}