.navbar {
    display: flex;
    justify-content: space-between;
    background: #161B22;
    width: 100vw;
    color: #f4f4f4;
    padding: 12px 20px;
    margin-bottom: 20px;
    border-top: 2px solid #002e2e;
    border-bottom: 2px solid #002e2e;
}

.app_title {
    font-size: 2rem;
    font-weight: 900;
    text-transform: uppercase;
}