// Colors
$accent_color:                  #161B22;
$accent_alt_color:              #f5fdf2;
$background_color:              #0D1117;
$font_color:                    #D5D6D7;
$pri_accent_color:              #9BB54A;
$sec_accent_color:              #bada55;

// Base
$border-radius:                 4px;

// Form elements
$fe_bg_color:                   #010409;
$fe_border_color:               #393C41;
$fe_text_area_height:           300px;
$fe_element_margin:             6px 0;
$label_font_size:               0.9rem;
$label_text_transform:          capitalize;

// Buttons
$btn_bg_color:                  $pri_accent_color;
$btn_bg_color_hover:            $sec_accent_color;
$btn_min_width:                 125px;
$btn_padding:                   4px 6px;
$btn_font_size:                 0.9rem;
$btn_transition:                0.4s;